<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div layout:fragment="conteudo">

    <h1 class="mt-3 mb-5 text-center">Bem vindo ao seu Sistema de Monitoramento de Consumo de Energia da ChargeTech!</h1>

    <h3 class="mb-4 text-muted">Seu Dashboard</h3>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quantidade de energia consumida nesse mês</h5>
                    <p class="display-1 text-center" th:text="${quantidadeDeEnergiaConsumidaNoMes} + ' kWh'"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Quantidade de dispositivos ligados</h5>
                    <p class="display-1 text-center" th:text="${quantidadeDeDispositivosLigados}"></p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mb-4 mt-5 text-muted">Seus Dados</h3>

    <div class="card m-2 p-3" th:object="${usuario}">

        <div>
            <h4 class="fw-bold">Nome</h4>
            <p th:text="*{nome}"></p>
        </div>

        <div>
            <h4 class="fw-bold">Email</h4>
            <p th:text="*{email}"></p>
        </div>

        <div>
            <h4 class="fw-bold">Data de Nascimento</h4>
            <p th:text="*{#temporals.format(dataDeNascimento, 'dd/MM/yyyy')}"></p>
        </div>

        <div>
            <h4 class="fw-bold">Gênero</h4>
            <p th:text="*{genero.label}"></p>
        </div>

        <div>
            <h4 class="fw-bold">Role</h4>
            <p sec:authorize="hasRole('ADMIN')">Administrador</p>
            <p sec:authorize="hasRole('USER')">Usuário</p>
        </div>

        <th>
            <a th:href="@{/usuario/editar/}+*{id}"
               class="btn btn-primary">Editar</a>
        </th>

    </div>


</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>